.graphic-innerpage{
    width: 100%;
    cursor: pointer;
}
.webdesign-innerpage{
    width: 50%;
    cursor: pointer;
}
.graphic-innerpage-header{
    text-align: center;
    cursor: pointer;
    width: 100%;
}
.service-tab-header{
    margin-top: 1em;
}
.service-tab-header1{
    margin-top: -1em;
}